SP_WEB_MIDIFI_USERNAME=utvtest@digdir.no
SP_WEB_MIDIFI_PASSWORD=[FILL_IN_PASSWORD]
SP_WEB_MIDIFI_READONLY_USERNAME=utvtestidporten@digdir.no
SP_WEB_MIDIFI_READONLY_PASSWORD=[FILL_IN_PASSWORD]
SP_WEB_IDPORTEN_USERNAME=24079490292
SP_WEB_IDPORTEN_PASSWORD=[FILL_IN_PASSWORD]
SP_WEB_IDPORTEN_OTP=otp
SP_WEB_HOST=https://sp-web-test-test1.azurewebsites.net
SP_WEB_IDPORTEN_ENABLED_HOST=https://sp-web-test-idporten-test1.azurewebsites.net
SP_WEB_ENV=TEST1
SP_WEB_SHOW_GUI=true